data/images/
data/gadm
data/cropped_streetview_images/
data/streetview_images/
data/hf_**/
**/*.pyc
**/*.tar.gz
**/.ipynb_checkpoints/
**/*.DS_Store
**/__pycache__/
**/*-checkpoint.ipynb
data/*.zip
data/.cache/
**/jpgs/
**/exif/
**/*.xlsx
**/*.npy
data/geocells_2203.csv
serving/static/
.tensorboard-info/*
.vscode/*
*.arrow